@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>This Project Is HomeWork</p>
<a href="https://github.com/ErfanMelon" class="badge bg-primary">Developed By Erfan Memarpour</a>
<a href="https://github.com/misaqyrn" class="badge bg-secondary">Supervisor : MisaQ Yarian</a>